{% extends "pizzas/base.html" %}

{% block page_header %}
<h3>{{ pizza }}</h3>
{% endblock page_header %}
{% block content %}

<ul>
    {% for t in toppings %}
    <li>
        <p> {{ t.topping_name }}</p>
    </li>
    {% empty %}
    <li> There are no toppings for this pizza yet.</li>
    {% endfor %}
</ul>

<p><a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a></p>

<ul>
    {% for c in comments %}
    <li>
        <p> {{ c.comment_name }}</p>
    </li>
    {% empty %}
    <li> There are no comments for this pizza yet.</li>
    {% endfor %}
</ul>

<style>
    body {
        background-image: url('https://wallpapertag.com/wallpaper/middle/9/6/8/311219-beige-background-3430x1495-samsung.jpg')
    }
</style>

<p>
    {% load static %} <img src="{% static"
        pizzas/static/d4908e09-f346-46f8-8fcf-f779ef65b6cd.de327c71f7e4a2992dd0ee71e42d1100.jpg" %}>
</p>

{% endblock content %}